In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [5]:
data = {'year': [
    2017, 2018, 2019,
    2017, 2018, 2019,
    2017, 2018, 2019
    ],
    'team': [
           'America', 'America',
           'America', 'Chivas',
           'Chivas', 'Chivas',
           'Pumas', 'Pumas',
           'Pumas'
    ],
    'wins': [30,28,32,29,32,26,21,17,19],
    'draws': [6,7,4,5,4,7,8,10,8],
    'losses': [2,3,2,4,2,5,9,11,11]}
football = pd.DataFrame(data,columns = [
    'year','team','wins','draws','losses'
    ]
)

In [6]:
football

   year     team  wins  draws  losses
0  2017  America    30      6       2
1  2018  America    28      7       3
2  2019  America    32      4       2
3  2017   Chivas    29      5       4
4  2018   Chivas    32      4       2
5  2019   Chivas    26      7       5
6  2017    Pumas    21      8       9
7  2018    Pumas    17     10      11
8  2019    Pumas    19      8      11